<div class="usr_activation">
    <div class="container">
        <div class="h-100 row">
            <div class="col-md-12 col-sm-12 mt-45">
                <img class="img_company_logo" src="../assets/images/companyLogo.jpg" alt="logo">
                <h3>Hang Tight !</h3>
                <span>You're being redirect to another page, it may takes upto {{count}} seconds</span>
            </div>
        </div>
    </div>
</div>

<!-- 
<div style="background-color: #fff;height: 100vh;text-align: center;">
    <img style="width: 50px;margin-top: 120px;" src="cid:companyLogo" alt="logo">
    <div>Please click here <a style="text-decoration: underline;" href="http://localhost:4200/login"> Link </a> </div>
</div> -->